
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <p class="card-text"><%= user.photos_count %></p>
        <p class="card-text"><%= user.likes_count %></p>
      </div>
    </div>
  </div>
</div>
